
## SQL Quiz

* Please fill in this .ipynb file with your answers. Download the file using the File ->Download -> Download .ipynb and once downloaded, please upload the file to Gradescope. **Just upload the .ipynb file only. No need to upload the `flights.sqlite` file**
* You have to turn in to Gradescope before the deadline. Late submissions will not be accepted.

**Rules for taking the test:**

* You must complete the test on your own.
* You are not allowed to collaborate with anyone else, regardless of whether they are in the class or not.
* The exam is open-book and open-note. You may consult any of the course materials such as lecture notes, workbook.ipynb, w3schools website or the eBooks.
* You may not post questions on any other website.

Obviously, I'm mostly relying on the honor system to enforce these rules.

The difficulty and format of final project and other assignments/tests will strongly depend on how seriously they are observed.

## Flights dataset

We will be using the `flights` dataset used in the class. We will run some queries on this dataset.  `flights.sqlite` is part of this zip file you downloaded. If you are using Colab, upload the .ipynb file first and then uplaod `flights.sqlite` file to the Colab machine by selecting `Files` tab on the left and then selecting `Upload to session storage button`. If you are using Jupyber lab then ensure that the .ipynb file and `flights.sqlite` are in the same folder.

You need to put your answer by replacing the string `your query here` in each question. You can add more statements to the answer block as you deem fit. Getting the test cases to pass should be your goal.

**Testcase**

Most of the questions have a Testcase block following the question. If present, please do not change anything in the testcase block. Note that the test cases are using the cursor resultset. If you run the test case twice without running the block that repopulates the cursor, you will get erroneous results.

## Please run this code block first

In [28]:
# Please run this code block first
import sqlite3

con = sqlite3.connect("flights.sqlite")
cur = con.cursor()

### Question 1
Find the total count of records in this dataset. You need to put your query as a string in the place holder provided. You can verify if you got the question correct by running the test case present in the next code cell

In [45]:
# YOUR ANSWER
sql_count_query = '''SELECT COUNT(*) FROM flights'''
res = cur.execute(sql_count_query)

**Testcase**

In [46]:
# DO NOT MODIFY THIS CODE BLOCK
assert res.fetchall() == [(336776,)]
print("Tests passed!")
s1 = 1

Tests passed!

In [32]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Question 2
Find the average dep_delay (rounded to 2 decimal places) for each of the origin airport. Hint: `origin` column is what you should use in your query

In [33]:
# YOUR ANSWER
sql_grouped_origin_query = '''SELECT origin, ROUND(AVG(dep_delay),2) as average_dep_delay
FROM flights
GROUP BY origin
ORDER BY origin'''
res = cur.execute(sql_grouped_origin_query)

**Testcase**

In [34]:
# DO NOT MODIFY THIS CODE BLOCK
assert res.fetchall() == [('EWR', 15.11), ('JFK', 12.11), ('LGA', 10.35)]
print("Tests passed!")
s2 = 1

Tests passed!

### Question 3
Find the top 5 destinations (frequency distribution). Hint: `dest` column gives you the destination code

In [35]:
# YOUR ANSWER
sql_top_5_prop_query = '''SELECT dest, COUNT(*) as frequency
FROM flights
GROUP BY dest
ORDER BY frequency DESC
LIMIT 5'''
res = cur.execute(sql_top_5_prop_query)

**Testcase**

In [36]:
# DO NOT MODIFY THIS CODE BLOCK
assert res.fetchall() == [('ORD', 17283),
 ('ATL', 17215),
 ('LAX', 16174),
 ('BOS', 15508),
 ('MCO', 14082)]

print("Test passed!")
s3 = 1

Test passed!

### Question 4

Display the total count of flights to these 5 top destinations from each origin airport, ordered by count descending. You can make use of the values from the previous question to get the answer to this quesiton

In [37]:
# YOUR ANSWER
sql_origin_count_query = '''SELECT origin, COUNT(*) as flight_count
from flights
WHERE dest IN (
  SELECT dest
  FROM flights
  GROUP BY dest
  ORDER BY COUNT(*) DESC
  LIMIT 5)
  GROUP BY origin
  ORDER BY flight_count DESC'''
res = cur.execute(sql_origin_count_query)

**Testcase**

In [38]:
# DO NOT MODIFY THIS CODE BLOCK
assert res.fetchall() == [('LGA', 27080), ('JFK', 26880), ('EWR', 26302)]
print("Tests passed!")
s4 = 1

Tests passed!

### Question 5

Find the total number of distinct destinations in this dataset

In [41]:
# YOUR ANSWER
sql_distinct_query = '''select COUNT(DISTINCT dest) from flights'''
res = cur.execute(sql_distinct_query)

**Testcase**

In [42]:
## DO NOT MODIFY THIS CODE BLOCK
assert res.fetchall() == [(105,)]
print('Test passed!')
s5 = 1

Test passed!

### Question 6

Find the percentage of cancelled flights vs total flights on Jan 30th 2013

In [135]:
# YOUR ANSWER
sql_cancelled_query = '''
SELECT
    ROUND((SUM(CASE WHEN dep_time IS NULL THEN 1.0 ELSE 0.0 END) / COUNT(*)) * 100, 2) AS percentage_cancelled
FROM flights
WHERE year = 2013 AND month = 1 AND day = 30
'''
res = cur.execute(sql_cancelled_query)

**Testcase**

In [136]:
assert res.fetchall() == [(10.89,)]
print('Test passed!')
s6 = 1

Test passed!

### Question 7

 Calculate the aircraft 'speed',  as `distance/air_time` and then find the top 10 speeds, and then find the airline carrier that appears the most in the top 10 speeds.

In [113]:
# YOUR ANSWER
sql_top_speed_airline = '''SELECT DISTINCT MAX(speed_count) AS max_speed_count,carrier
FROM (
    SELECT speed, carrier, COUNT(*) AS speed_count
    FROM (
        SELECT
            carrier,
            (distance * 1.0) / air_time AS speed
        FROM
            flights
        WHERE
            air_time > 0
        ORDER BY speed DESC
        LIMIT 10
    ) AS Top10Speeds
    GROUP BY carrier
) AS CarrierCounts
LIMIT 1;'''
res = cur.execute(sql_top_speed_airline)

**Testcase**

In [114]:
assert res.fetchall() == [(4, 'DL')]
print('Test passed!')
s7 = 1

Test passed!

## Score

This block is a quick way of finding your score. It is not necessary this is accurate but it gives you some idea. Your assignment will be manually reviewed for the final score.

In [137]:
## Please run this final score
score = 0;
q = [s1, s2, s3, s4, s5, s6]
for s in q:
  if s:
    score += s

print(score)

6